.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.3)
    ,rgba(255,255,255,0.3)), url('https://images.unsplash.com/photo-1577760263010-ebfa5798337c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    align-items: center;
    color: white;
    position: relative;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
margin-top: 20px;
display: flex;
flex-direction: column;
}

.loginForm > label{
margin-top: 20px;
font-size: 25px;
width: 200px;
}

.loginForm > input{
font-size: 18px;
width: 200px;
background-color: white;
padding: 10px;
border: none;
border-radius: 10px;
}
.loginForm > input:focus{
outline: none;
}

.loginForm > button{
margin-top: 15px;
font-size: 20px;
width: 220px;
background-color: rgb(11, 163, 163);
color: aliceblue;
border: none;
border-radius: 10px;
padding: 8px 15px;
cursor: pointer;
}

.registerButton{
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 10px;
    font-size: 20px;
    width: 200px;
    background-color: rgb(43, 71, 165);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

