.header{
    margin-top:100px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}
.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
    font-family: 'Lora', serif;

}
.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
    font-family: 'Lora', serif;
}

.headerImage{
    width: 100%;
    height: 500px;
    margin-top: 89px;
    object-fit: cover;
}