.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    text-align: center;
    line-height: 1.5;
}

.sidebarItem > img{
    margin-top: 10px;
    width: 80%;

}

.sidebarItem > p{
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
}

.sidebarList{
    list-style: none;
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;

}

.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
}

.sidebarSocial{
    margin-top: 10px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.sidebarIcon{
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}